<nav class="navbar navbar-expand-md navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand display-1 h2" href="#">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active text-end text-primary" aria-current="page" href="{{ path('program_index') }}">Les Séries</a>
        <a class="nav-link text-end text-grey" aria-current="page" href="#">Connexion</a>
        <a class="nav-link text-end text-grey" href="#">Enregistrement</a>
      </div>
    </div>
  </div>
</nav>